@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

/*colors
44ADAA

	--dontknow: #FA93E5;

FAE061
dfr*/

:root {
	--bgc: #929292;
	/*--textc: #4B14CC;
	--borderc: #00CC19;
	--altc: #FF8914;*/

	/*--textc: #A1BEFF;
	--borderc: #FF795E;
	--altc: #D5FF87;*/

	--textc: #B7DFFF;
	--borderc: #FF7A75;
	--altc: #FBFF9E;

	--standardf: 'Ubuntu', sans-serif;
}

.bgc-1 {
	background-color: var(--borderc);
}

.bgc-2 {
	background-color: var(--altc);
}

/*hide right blank space on mobile*/

html,body {
    overflow-x: hidden;
}

/*menu style*/

nav img {
	height: 2.5rem;
}

@media (max-width:576px){
	nav img {
	height: 4rem;
}
}

#menu {
	font-size: 2.5rem;
	font-family: var(--standardf);
	font-weight: 300;
	background-color: var(--borderc);
}

@media (max-width:900px){
	#menu {
	font-size: 1.4rem;
}
}

@media (max-width:650px){
	#menu {
	font-size: 1.3rem;
}
}

@media (max-width:400px){
	#menu {
	font-size: 1.2rem;
}
}

.nav-link {
	color: var(--textc);
}

.nav-link:hover {
	color: var(--altc);
}

.pos-logo {
	margin-top: -0.75rem !important;
  }

.active-nav-page {
font-weight: 500;
}

.carousel-caption {
	user-select: none;
	-webkit-user-select: none;
	pointer-events: none;
	color: var(--textc);
}

/*transition fade*/

#content {
	min-height: 70vh;
	-webkit-box-shadow: 0px 0px 15px 5px var(--textc); 
	box-shadow: 0px 0px 15px 5px var(--textc);
	animation:opac 4s}
	@keyframes opac{from{opacity:0} to{opacity:1}
}

@media (max-width:768px){
	#content {
	box-shadow: none;
}
}

#content-noshdw {
	min-height: 80vh;
	animation:opac 4s}
	@keyframes opac{from{opacity:0} to{opacity:1}
}

div {
	font-family: var(--standardf);
	font-weight: 300;
}

/*project gallery*/

.gallery-row {
	display: flex;
	flex-wrap: wrap;
	padding: 0px 4px;
  }
  
  .gallery-column {
	flex: 25%;
	max-width: 25%;
	padding: 0px 4px;
	display: none;
  }
  
  .gallery-column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
	filter: grayscale(100%);
  }

  .gallery-column img:hover {
	filter: grayscale(0%);
	filter: saturate(150%);
	transform: scale(1.05);
	transition: 0.5s ease;
  }

  .gallery-image {
	  position: relative;
  }

  .gallery-title {
	position: absolute;
	bottom: 0;
	width: 100%;
	transition: 0.5s ease;
	opacity:0;
	color: var(--textc);
	font-size: 20px;
	font-family: var(--standardf);
	padding: 20px;
	text-align: center;
	user-select: none;
	pointer-events: none;
	-webkit-user-select: none;
  }

  .gallery-image:hover .gallery-title {
	opacity: 1;
  }
  
  @media screen and (max-width: 800px) {
	.gallery-column {
	  flex: 50%;
	  max-width: 50%;
	}
  }
  
  @media screen and (max-width: 200px) {
	.gallery-column {
	  flex: 100%;
	  max-width: 100%;
	}
  }

  @media (max-width:576px){
	.gallery-image:hover {
	filter: none;
	transform: none;
}
}

@media (max-width:576px){
	.gallery-image:hover .gallery-title {
	opacity: 0;
}
}

/*gallery filter*/

#myBtnContainer {
	padding-left: 8px;
}

  .btn-gallery {
	  border: none;
	  outline: none;
	  line-height: 1.6rem;
	  font-weight: 300;
  }

  .btn-gallery.active {
	  background-color: var(--borderc);
  }

  .show {
	  display: block;
  }

  .gallery-row:after {
	content: "";
	display: table;
	clear: both;
  }

  .gallery-caption {
	margin-bottom: -5rem !important;
  }

/*skill bar*/

.prog1 {
	background-color: var(--borderc);
}

.prog2 {
	background-color: var(--textc);
}

.progress-bar {
	color: black;
	user-select: none;
	pointer-events: none;
	-webkit-user-select: none;
}

.progress {
	border-radius: 0;
}

.prog-vertical1 {
	width: 50%;
	margin-right: 0.5rem;
}

.prog-vertical2 {
	width: 50%;
	margin-left: 0.5rem;
}

/*contact form*/

  .form-control {
	  border: none;
	  border-radius: 0px;
	  background-color: lightgray;
	  font-family: var(--standardf);
	  font-weight: 300;
  }

textarea {
	  resize: none;
	  height: 20rem;
  }

  @media (max-width:1200px){
	textarea {
	height: 8rem;
}
}

  @media (max-width:576px){
	textarea {
	height: 12rem;
}
}

  .form-control:focus {
	  background: var(--borderc);
	  box-shadow: none;
  }


.btn-form {
	background-color: var(--borderc);
	border-radius: 0px;
	padding: 0.5rem 1rem;
	border: none;
}

.btn-form:hover {
	background-color: var(--textc);
}

/*contact buttons*/

button {
	background-color: var(--altc);
}

.contact-btn {
	margin-right: 0.5rem;
	background-color: var(--borderc);
	border: none;
	width: 4rem;
	height: 4rem;
}

button:hover {
	background-color: var(--textc);
}

.btn-icon {
	height: 3rem;
}

/*scrollbar*/

::-webkit-scrollbar {
	display: none;
}

body {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

/*coloring*/

footer {
	background-color: var(--borderc);
}

body {
	background-color: var(--bgc);
}

.hline {
	background-color: var(--borderc);
	height: 3px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.indexlink {
	color: black;
	text-decoration: none;
}

.indexlink:hover {
	color: var(--altc);
}

.indeximg {
	align-self: center;
}

/*footer*/

.footh5 {
	font-size: 1.1rem;
	font-family: var(--standardf);
	color: var(--textc);
	text-decoration: none;
}

.footh5:hover {
	color: var(--textc);
}

@media (max-width:400px){
	.footh5 {
	font-size: 0.8rem;
}
}

.whitespace {
	white-space: pre;
}

#copyright {
	font-family: var(--standardf);
}

@media (max-width:400px){
	#copyright {
	font-size: 0.6rem;
}
}

/*project elements*/

.box-text {
	text-align: justify;
	padding: 1rem;
	line-height: 1.2rem;
	display: flex;
	align-items: center;
	font-family: var(--standardf);
	font-weight: 300;
}

.box-form {
	line-height: 1.2rem;
	font-family: var(--standardf);
	font-weight: 300;
	position: relative;
}

.box-form::after {
	content: "";
	display: block;
	padding-bottom: 100%;  
}

.box-content {
	position: absolute;
	display: flex;
	height: 100%;
	width: 100%;
	padding: 1rem;
	align-items: center;
}

.box-tags {
	display: flex;
	background-color: var(--borderc);
	padding: 1rem;
	align-items: center;
}

.box-table {
	align-items: center;
}

.box-video {
	display: flex;
	align-items: center;
	background-color: var(--altc);
}

.video-title {
	text-align: center;
	margin-bottom: 5rem;
}

@media (max-width:992px){
	.box-text {
	font-size: 0.6rem;
	line-height: 0.8rem;
}
}

@media (max-width:576px){
	.box-text {
	text-align: left;
	font-size: 1rem;
}
}

/*accordion*/

.accordion-header {
	background-color: var(--borderc);
}

.accordion-button.collapsed.abu1 {
	background-color: var(--borderc) !important;
	border-radius: 0;
	text-transform: none !important;
}

.accordion-button.collapsed.abu2 {
	background-color: var(--altc) !important;
	border-radius: 0;
	text-transform: none !important;
}

.accordion-button {
	background-color: var(--textc) !important;
	color: black !important;
	text-align: center;
	display: table-cell;
	padding-left: 30px;
}

.acc-line {
	text-decoration: line-through solid black;
	color: rgba(0, 0, 0, 0);
	display: inline;
}


.collapsed .acc-line {
	display: none;
}

.accordion-button::after{
	float: right;
}

.abo1 {
	background-color: var(--borderc) !important;
}

.abo2 {
	background-color: var(--altc) !important;
}

.accordion-button:focus {
	outline: none;
	box-shadow: none;
}

.accordion-button.collapsed:hover {
	background-color: var(--textc) !important;
}

.accordion-item {
	border: none;
}

.pro-link {
	color: black;
	text-decoration: none;
	font-weight: 500;
}

.pro-link:hover {
	color: var(--textc);
}

/*table*/

.table-time {
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.table-time .td1 {
	width: 35%;
}

/*@media (max-width:576px){
	.disa-m {
	pointer-events: none;
}
}

@media (max-width:576px){
	.proj-img {
	pointer-events: all;
}
}*/

.iframe-cont {
	border-radius: 30px 30px 30px 30px;
	scrollbar-width: none;
}